.file {
  margin: 0;
  border: 1.5px solid #e7e7e7;
  position: relative;
  background: white;
}

.file img {
  object-fit: cover;
  position: absolute;
  left: 0;
  height: 100px;
  width: 120px;
}

.descriptionWrapper {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.descriptionWrapper .title {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-weight: 800;
}

.created {
  font-size: 11px;
}

.dateCreated {
  padding: 0;
  margin: 0;
  font-size: 13px;
}