.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  border: 2px solid #ffffff;
  margin: 10px 10px;
  padding: 0;
  font-family: sans-serif;
}
