.file {
  border-style: solid;
  border-width: 1px;
  position: relative;
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100px; */
  width: 120px;
}

.descriptionWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}