.folder {
  border: 1.5px solid #c5c5c5;
  position: relative;
  /* padding: 15px; */
  background: white;
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100px; */
  width: 120px;
}

.descriptionWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}