 ul li {
   display: inline;
   letter-spacing: 2px;
   text-align: center;
 }

 .topHalf {
   height: 45px;
   text-transform: uppercase;
   text-align: left;
   background-color: #0085ca;
   color: white;
   letter-spacing: 10px;
   font-weight: lighter;
 }

 .bottomHalf {
   /* vertical-align: 50%; */
   line-height: 45px;
   height: 45px;
   text-transform: uppercase;
   background-color: #0069A0;
   color: white;
   text-align: left;
 }

 image {
   position: absolute;
   height: 1000px;
 }

 .bottomHalf {
   color: #c5c5c5;
 }

 .bottomHalf button {
   background: none;
   color: inherit;
   border: none;
   font: inherit;
   cursor: pointer;
   outline: inherit;
 }

 #content {
   color: #ffffff;
 }